<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5 class="card-title">URL Shortener</h5>
  </div>
  
  <div class="card-body">
    <span>
      <i class="fas fa-link"></i>
    </span>
    <input class="form-control" type="text" placeholder="input URL here">
    <a href="#" class="btn btn-outline-primary">Shorten</a>
  </div>
</div>